body {
    width: 100%;
    min-height: 100vh;
    background: #eee;
    font-family: 'Google-Reg';
    padding: 30px;
}

.card-dash {
    display: flex;
    flex-direction: column;
    height: 300px;
    background: #fff;
    margin-left: 0;
    margin-bottom: 30px;
}

.card-body {
    display: flex;
    flex: 1;
}

    .card-info {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .card-info h1 {
        font-family: 'Google-Reg';
        color: #555;
        font-size: 2rem;
    }

    .card-info h2 {
        margin: auto 0 auto 20px;
        color: #666;
        font-size: 3rem;
    }

    .card-body img {
        margin: 0 0 0 20px;
        width: 80px;
        height: 80px;
    }

.card-bottom {
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    color: #fff;
    padding: 0 20px;
}

.card-bottom:hover {
    opacity: .7;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

#card-ciclosCriados {
    background: #d85252e0;
}

@media(max-width:600px) {
    body {
        padding: 15px 0;
    }

    .card-dash {
        flex-direction: row-reverse;
        height: 150px;
        background: #fff;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .card-bottom {
        display: flex;
        align-items: center;
        width: 60px;
        height: 100%;
        background: #333;
        color: #fff;
        padding-left: 20px;
    }
}